 /* HOME PAGE */


/* BODY */
*{
    margin: 0;
    padding: 0;
    font-family: 'Golos Text', sans-serif;;
    
}

body{
    background: linear-gradient(#ABE59F, #F5F3BB);
}

.container{
   
    width: 100%;
      
}



/* NAVIGATION */
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
    margin-top: -23px;  
}

.nav-links{
    flex: 1;
    text-align: left;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 18px 12px;
    position: relative;
}

.nav-links ul li a{
    color:#003A3D;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#00AFB9;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

nav .fa{
    display: none;
}


/* GITHUB BUTTON */
.github-btn{
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient( #ABE59F, #ABE59F), radial-gradient(circle at top left, #FE5F55, #00AFB9);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.github-btn:hover{
    border: #00AFB9;
    background: #00AFB9;
    transition: 1s;
}



.github-btn span{
    display: block;
    padding: 8px 22px;
}

/* BODY OF HOME PAGE */

.banner{
    width: 80%;
    height: 30%;
    top: 25%;
    left: 130px;
    position: absolute;
}


.app {
    margin-top: 10%;
    
    margin-bottom: 5%;
    
    column-gap: 15px;
  
}


.app h1{
    font-size: 41px;
    width: 665px;
    padding-left: 12%;
    
}


.app p{
    width: 550px;
    font-size: 17px;
    line-height: 25px;
    padding-top: 25px;
    padding-left: 12%;
    padding-bottom: 25px;
    color:#00AFB9;
}

.learn-btn{
    margin-left: 40px;
    display: inline-flex;
    padding-left: 10%;
}


.app img{
    width: 50%;
    margin-top: -12%;
    padding-left: 5%;
    padding-right: 5%;
    float: right;
   
}


.learn-btn-inner{
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient( #ABE59F, #ABE59F), radial-gradient(circle at top left, #FE5F55, #00AFB9);
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-align: center;
}
.learn-btn-inner .fa{
    padding: 15px 0;
    font-size: 20px;
    cursor: pointer;
}


small{
    margin: auto 20px;
    cursor: pointer;
    font-size: 12px;
    color: #00AFB9;
    letter-spacing: 3px;
}








/* LEARN MORE */
/* FIRST ROW */
.learnfirstrow{
    margin-top: 5%;
    display: flex;
    justify-content: space-between; 
}

.learnfirstrow img{
    width: 25%;
    padding-left: 22%;
}

.learnfirstrow h2{
    width: 540px;
    float: right;
    padding-right: 22%;
    margin-top: 11%;
    color: #003A3D;
}



/* SECOND ROW */
.learnsecondrow{
    clip-path: polygon(0 0,50% 50px,100% 0,100% 100%,0 100%);
    margin-top: -50px;
    margin-top: 15%;
    display: flex;
    justify-content: space-between; 
}

.learnsecondrow img{
    margin-top: 10%;
    width: 25%;
    padding-right: 18%;
}

.header1{
    margin-top: 60%;
    padding-left: 72%;
    width: 110%;
}

.header1 h1{
    font-size: 120px;
    float: left;
    padding-right: 7%;
    color: #003A3D;
}


.header1 h2{
    font-size: 60px;
    color: #003A3D;

}



.learnsecondrowtext p{
    padding-top: 30px;
    width: 540px;
    text-align: center;
    padding-left: 72%;
    padding-bottom: 5%;

}


/* THIRD ROW */

.learnthirdrow{
    display: flex;
    justify-content: space-between; 
}

.learnthirdrowtext p{
    padding-top: 30px;
    width: 540px;
    text-align: center;
    padding-left: 52%;
    padding-bottom: 5%;

}

.header2{
    margin-top: 60%;
    padding-left: 48%;
    width: 120%;
}

.header2 h1{
    font-size: 120px;
    float: left;
    padding-right: 7%;
    color: #003A3D;
}


.header2 h2{
    font-size: 60px;
    color: #003A3D;
    

}

.learnthirdrow img{
    margin-top: 10%;
    width: 25%;
    padding-left: 18%;
}



/* FOURTH ROW */

.learnfourthrow{
    display: flex;
    justify-content: space-between; 

}

.learnfourthrowtext p{
    padding-top: 30px;
    width: 540px;
    text-align: center;
    padding-left: 72%;
    padding-bottom: 5%;

}

.header3{
    margin-top: 60%;
    padding-left: 72%;
    width: 110%;
}

.header3 h1{
    font-size: 120px;
    float: left;
    padding-right: 7%;
    color: #003A3D;
}


.header3 h2{
    font-size: 60px;
    color: #003A3D;

}

.learnfourthrow img{
    margin-top: 10%;
    width: 25%;
    padding-right: 18%;
    padding-bottom: 10%;
}


/* FIFTH ROW */

.objective{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}

h1{
    font-size: 36px;
    font-weight: 600;
    color:#2E2823;
}

p{
    color: #2E2823;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}

.row{
    margin-top: 5%;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    
}

.course_col{
    flex-basis: 31%;
    background:#f5f5cf;
    border-radius: 50px;
    margin-bottom: 5%;
    padding: 20px 32px;
    box-sizing: border-box;
    column-gap: 35px;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;
    color: #2E2823;
}

.course_col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2) ;
}




@media screen and (max-width: 700px){
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #ABE59F;
        height: 100vh;
        width: 200px;
        top: 0;
        right:-200px;
        text-align: left;
        z-index: 2;
        float: auto;
        transition: 1s;
    }

    .github-btn{
        display: none;
    }

    nav .fa{
        display: block;
        color: #2E2823;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }

    .app h1{
        font-size: 21px;
        width: 350px;
    }
    
    
    .app p{
        width: 350px;
        font-size: 17px;
        line-height: 25px;
        padding-top: 25px;
        padding-left: 12%;
        padding-bottom: 25px;
        color:#00AFB9;
    }

    .app img{
        width: 60%;
        margin-top: -12%;
        padding-left: 15%;
        padding-right: 5%;
        float:inherit;
       
    }


}